html,
body {
  color: #111111;
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
    background-color: #111111;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header.inner {
    padding: 1rem;
}

header.inner h3 {
    color: white;
    padding-top: .5rem;
}

header.inner .btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

header ul.d-flex {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

header .logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

header input.form-control,
header select.form-select {
    border: 1px solid white;
    padding: .8rem 1.5rem;
    color: #111111;
    min-width: 30rem;
}
header input.form-control:focus {
    color: #111111;
}
header select.form-select {
    padding: .8rem 2rem .8rem 1.5rem;
    min-width: 10rem;
}

header .btn {
  padding: .8rem 1rem;
}

header .btn.btn-primary {
    background-color: #0069E8;
}

header .btn.btn-primary-outline {
    background-color: transparent;
    border: 2px solid #e85200;
    color: #e85200;
}

.loading {
    text-align: center;
    display: block;
    width: 100%;
    color: white;
}


main {
    padding-top: 11.5rem;
}
main.inner {
  padding-top: 9.5rem;
}

main .card-holder {
    margin-top: 1rem;
}

main .MuiPaper-root {
    background-color: white;
    color: #111111;
    border-left: 5px solid #0069E8;
    border-radius: 10px;
    box-shadow: none;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

main .block-inbound .MuiPaper-root {
    border-left: 5px solid #e85200;
}

main .MuiCardContent-root {
    padding: 0;
}

.css-1v2exvi-MuiCardActionArea-focusHighlight {
  background-color: white !important;
}

main h3,
main h4 {
    font-size: 1.4rem;
    font-weight: bold;
}

main .MuiTypography-root h4 {
    font-size: 1rem;
    margin-bottom: .2rem;
}




.bottom-navbar {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  background-color: #282c34;
  position: fixed;
  bottom: 0;
}


.fixed-position{
  position: fixed;
  top: 80px;
  z-index: 1000;
  color: aliceblue;
}

.list-box{
  position: relative !important;
  top: 80px;
  z-index: -1;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

.margin-subList{
  margin-left: 10%;
}

.margin-left-button{
  margin-left: 1%;
}
